@font-face {
  font-style: normal;
  font-weight: 350;
  font-family: "Whitney";
  src: url("../fonts/Whitney-Book.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Whitney";
  src: url("../fonts/Whitney-Light.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Whitney";
  src: url("../fonts/Whitney-Medium.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
