.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
}

.content {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @include viewport--lg {
    padding: 0 30px;
  }

  @include viewport--sm {
    padding: 0 10px;
  }
}

.btn-reset {
  padding: 0;

  background: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

.scroll-lock {
  position: fixed;

  overflow-y: auto;
}

@keyframes disableBreakpointAnimation {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}
